.dqfLRD {
  font-size: 14px;
  padding: 12.64px 26px 12.64px 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.84px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0 / 30%) 0px 0px 4px;
  cursor: pointer;
  height: 42px;
  border: 0px;
  clip-path: polygon(6% 0px, 80% 0%, 100% 0px, 100% 77%, 94% 100%, 20% 100%, 0px 100%, 0px 25%);
  transition: all 0.4s ease-in-out 0s;
  background-image: linear-gradient(to right, rgb(216, 0, 183), rgb(177, 0, 222), rgb(177, 0, 222), rgb(216, 0, 183));
  background-size: 300% 100%;
  line-height: 18px !important;
}